/* General */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fa8072;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #4169E1;
    padding: 20px;
    color: #fff;
}

/* Main Content */
main {
    flex: 1; 
    padding: 20px;
}

/* Contact Info */
.contact-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: left; 
}

h1 {
    font-size: 36px;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

/*Container for contact info*/
.info-container {
    background: #ffe0e0;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 2px solid  #4169E1;
}

/* Map - currently having problems displaying map due to API key permissions */
.map-container {
    margin-top: 20px;
}